body {
    margin: 0;
    padding: 0;
  }
  #map {
    position: absolute;
    top: 175px;
    bottom: 30px;
    width: 100%;
  }
  
  .map-overlay {
    top: 171px;
    position: absolute;
    /* left: 0; */
    padding: 10px;
  }
  